<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/c69267ae46.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/baseTemplate.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="left-menu">
      <ul>
        <li>
          <button class="home-nav">
            <i class="fa-solid fa-xl fa-house" style="color: #8a33c8"></i
            ><span class="home">HOME</span>
          </button>
        </li>
        <li>
          <button class="pred-nav">
            <i
              class="fa-solid fa-xl fa-laptop-medical"
              style="color: #8a33c8"
            ></i
            ><span class="pred">PREDICT</span>
          </button>
        </li>
        <li>
          <button class="rep-nav">
            <i class="fa-solid fa-xl fa-file-waveform" style="color: #8a33c8">
            </i
            ><span class="rep">REPORTS</span>
          </button>
        </li>
        <li>
          <button class="qa-nav">
            <i class="fa-regular fa-comment fa-xl" style="color: #8a33c8"></i
            ><span class="qa"
              ><a href="mm.pdf" download="mm.pdf" style="color: black"
                >download</a
              ></span
            >
          </button>
        </li>
      </ul>
    </div>
  </body>
</html>
